<ion-header>
  <ion-toolbar>
    <ion-title>pokemones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--barra de busqueda-->
  <form [formGroup]="formulario" novalidate>
    <ion-searchbar
      [debounce]="1000"
      (ionChange)="handleChange($event)"
      animated = 'true'
      placeholder="Busca a tu pokemon"
      formControlName="nombrePokemon"
    </ion-searchbar>
    <ion-label
      *ngIf="!formulario.get('nombrePokemon').valid &&
      formulario.get('nombrePokemon').errors.required &&
      formulario.get('nombrePokemon').touched"
      color="red">
      Este campo es requerido
    </ion-label>
    <!--{{formulario.get('nombrePokemon').valid}} <br>
    {{formulario.get('nombrePokemon').value}} <br>
    {{formulario.get('nombrePokemon').errors|json}} <br>
    {{formulario.get('nombrePokemon').touched}}  <br>
    {{formulario.get('nombrePokemon').dirty}}-->
  </form>

  <ng-template #cargando>
    <!--template reference-->
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
  <ng-template #losDatos>
    <ion-label>
      <app-info-pokemon *ngFor="let info of obtenerPokemon.informaciones"
        [url]="info.url" >
      </app-info-pokemon>
    </ion-label>
    <ion-infinite-scroll
      (ionInfinite)="cargarMasPokemones($event)" >

      <ion-infinite-scroll-content
       [loadingSpinner]="'crescent'"
       loadingText="Cargando pokemones">


      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <p *ngIf="obtenerPokemon.informaciones; then losDatos else cargando" ></p>

</ion-content>
