<ion-header>
  <ion-toolbar>
    <ion-title>pokemones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #cargando>
    <!--template reference-->
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
  <ng-template #losDatos>
    <ion-label>
      <app-info-pokemon *ngFor="let info of obtenerPokemon.resultado.results"
        [url]="info.url" >
      </app-info-pokemon>
    </ion-label>
    <ion-infinite-scroll
      (ionInfinite)="cargarMasPokemones($event)" >

      <ion-infinite-scroll-content
       [loadingSpinner]="'crescent'"
       loadingText="Cargando pokemones">


      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <p *ngIf="obtenerPokemon.resultado; then losDatos else cargando" ></p>

</ion-content>
